

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto Slab' , serif;
    line-height: 1.5;
    
}

/* .container{
    width: 100%;
    margin: auto;
} */

a{
    text-decoration: none;
}

.container{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
/* TOP_NAV */

.container .topnav {
    padding: 0;

}

.logo{
    margin-right: .5rem;
}


.topnav {
    padding: .2rem ;
    border: 1px solid rgba(94, 94, 94, 0.199);
    width: 100%;

}

.top-nav-brand {

  display: flex;
  /* margin-left: 5rem; */
  width: auto;
  
 
}




.text-topnav p{
    font-size: 16px;
    display: flex;
    justify-content: flex-start;

}

.social-icons{
    display: flex;
    margin-right: 41px;
}

.fab{
    text-decoration: none;
    color: #2BAAEC;
    margin: 10px;
    font-size: 20px;
    
    
}

.fab:hover{
    color: #25E6C8;
}

.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


                        /* NAV_BAR */

.header-icon{
    display: flex;

 }

.header-dent{
    font-size:24px ;  
    display: flex;
    font-weight: normal;
}
.span-clinic{
    color:#2BAAEC ;
}
.h3-p{
    margin-left: .5rem;
    margin-top: 1rem;
}
.text-stoma{
    font-weight: normal;
    font-size: 16px;
    color: #626262;  
} 
.nav-navbar{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    
}
.nav-navbar a{
    display: flex;
    margin: 1.5rem;
}



                            /* SHOW_CASE_1 */



#showcase-1 .container{
    display: flex;
    width: 100%;
    border: 1px solid black;
}
#showcase-1 {
    background-color: #DEDEDE;
    /* background-repeat: no-repeat; */
    background-size: cover;
}
.content{
    display: flex;
    align-self: center;
    height: 100%;
    padding: 5rem;
    margin-left: 4rem;
}

.text-showcase{
    align-content: center;
    margin-bottom: 3rem;
    color:#363636 ;
}
.text-showcase h3{
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-align: left;
    width: 100%;
    
}

.btn{
    padding: 1.3rem 4rem;
    margin-top: 2.5rem;
    outline: none;
    border: 1px solid transparent;
    border-radius: .7rem;
    background-color: #25E6C8;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;

}
#showcase-1 img{
    height: 500px;
    margin-block-start: auto;

}




/* SHOWCASE-2 */

#showcase-2 img {
    height: 600px;
    margin-right: 20%;
    margin-block-start: auto;
}

#showcase-2 .container{
    display: flex;
    width: 80%;
    border: 1px solid black;
    margin-top: 3rem;
}

.blue-line{
    border: 1px solid #25E6C8;
    height: 1px;
    width: 100%;
    margin-bottom: 2rem;
}

.text-showcase-about .span-about {
    color:#2BAAEC ;


}

#second-half{
    margin: 1rem;
    width: 690px;
 
    font-size: 18px;
}
#first-half{
    margin: 1rem;
    width: 690px;
    font-size: 18px;
}

.text-showcase-about h3{
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 1rem;
}

#showcase-2 p h3 img{
    display: flex;
}

.header-color{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
    margin-bottom: 5rem;
    margin-top: 3rem;
}



.color-header{
    display:flex;
    border: 1px solid black;
}
.header-color p {
    display: flex;
    border: 1px solid red;
}
    





@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
    .topnav .container{
        display: flex;
    }

}
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
}
@media(min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}
@media(min-width: 1400px){
    .container{
        max-width: 1300px;
    }
}

















 






