

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto Slab' , serif;
    line-height: 1.5;
}


a .topnav{
color:#2BAAEC ;
}











.container{
    width: 100%;
    margin: auto;
    padding: 1.5rem;
    border: 1px solid grey;
}

.nav-navbar{
    display: flex;

}

ul a{
    text-decoration: none;
    display: flex;
    padding: 2rem;
    color: #363636;
    font-size: 18px;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-dent{
    font-size:24px ;
    margin-left: 5rem;
}



.span-clinic{
    color:#2BAAEC ;
}

.text-stoma{
    font-weight: bold;
    font-size: 16px;
    color: #626262;
    margin-left: 5rem;
}











/* @media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
} */